/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;800&display=swap");
@import url("..//assets/content-images/Akkurat-Pro/AkkuratPro-Bold.otf");
@import url("..//assets/content-images/Akkurat-Pro/AkkuratPro-Light.otf");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url("scroll-to-top.css");
/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/branding-images/red-cursor.svg"), auto !important;
  cursor: pointer url("../assets/branding-images/red-cursor.svg"), auto !important;
}

a {
  cursor: pointer url("../assets/branding-images/red-cursor.svg"), auto !important;
  color: #2e2e2e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables. Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Manrope", sans-serif;
  --heading-typeface: "Manrope", sans-serif;
  --project-title-typeface: "Manrope", sans-serif;
  --background-color: #F8F8F8;
  --background-color-work: #F8F8F8;
  --background-color-about: #F8F8F8;
  --background-color-footer: #E9E9E9;
  --background-color-red-footer: #ec5332;
  --alt-background-color: #000000;
  --background-color-holding-page: #F8F8F8;
  --h1-color: #2e2e2e;
  --h2-color: #2e2e2e;
  --h3-color: #2e2e2e;
  --h4-color: #2e2e2e;
  --h5-color: #2e2e2e;
  --h6-color: #2e2e2e;
  --primary-text-color: #2e2e2e;
  --holding-page-title-color: #ebedf0;
  --accent-color: #2e2e2e;
  --overlay-color: #2e2e2e;
  --overlay-title-color: #2e2e2e;
  --overlay-description-color: #2e2e2e;
  --hyperlink-color: #2e2e2e;
  --hyperlink-alternate-color: #2e2e2e;
  --hyperlink-alternate-style: underline;
  --hover-color: #d3d3d3;
  --project-title-color: #2e2e2e;
  --project-sidebar-text-color: #2e2e2e;
  --holding-page-footer-color: #2e2e2e;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--hover-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 2rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h1-color);
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  color: var(--h2-color);
  font-weight: 300;
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  font-weight: 300;
  color: var(--h3-color);
}

h4 {
  font-size: 1.2rem;
  color: var(--h4-color);
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--h5-color);
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: 300;
}

.project-award {
  font-size: 0.9rem;
  font-weight: 400;
}

.project-credits {

  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
}

.hero-headline {
  color: var(--overlay-color);
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  text-decoration: none;
}

/* a:visited {
  color: var(--visited-color);
} */

/* a:focus {
  outline: 1px solid var(--accent-color);
} */

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-menu-item {
  font-size: 1.2rem;
}

.navigation-menu-item-active {
  font-weight: 600;
  font-size: 1.2rem;
  color: #ec5332;
}

.footer-nav-item {
  line-height: 1.3;
}

.award-item {
  line-height: 1.3;
}

.info-item {
  line-height: 1.5;
}

.info-item-gap {
  line-height: 1.5;
  padding-top: 1rem;
}

.info-list {
  padding-bottom: 2rem;
}

.contact-me {
  padding-bottom: 3rem;
}

.info-sublist {
  padding-bottom: 1rem;
}

.subheading-edu {
  margin-top: 3rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
}

.subheading-red {
  margin-top: 3rem;
  font-size: medium;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ec5332;
}

.subheading-red2 {
  margin-top: 0.75rem;
  font-size: medium;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ec5332;
}

.subheading-red-link {
  margin-top: 3rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ec5332;
}

.subheading-red-link:hover {
  color: #2e2e2e;
}

.socials-list {
  display: flex;
  flex-direction: column;
}

.social-item {
  line-height: 1rem;
  padding: 0 1rem 1rem 0;
  /* top right bottom left */
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description {
  font-size: 1.225rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.about-bio {
  font-size: 1.325rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.subheading {
  margin-bottom: 1.5rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
}

.project-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.project-recognition {
  margin-bottom: 1rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
}

.project-subtitle {
  margin-bottom: 1rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
}

.project-bottom-text {
  margin-bottom: 1rem;
  font-size: medium;
  font-weight: 600;
  font-size: 1.2rem;
}

.project-bottom-text:hover {
  color: #ec5332;
}

/* .red-footer-item-1 {
  font-weight: 300;
  color: #f1f1f1;
  color: #f8f8f8;
} */

/* .footer-item-1 {
  font-weight: 300;
  color: #ec5332;
} */

.red-footer-item-1 {
  font-weight: 600;
  /* color: #f1f1f1; */
  color: #f8f8f8;
}

.footer-item-1 {
  font-weight: 600;
  color: #ec5332;
}


.red-footer-item-2 {
  font-weight: 600;
  /* color: #f1f1f1; */
  color: #f8f8f8;
  padding-bottom: 1rem;
}

.footer-item-2 {
  font-weight: 600;
  padding-bottom: 1rem;
  color: #ec5332;
}

.red-footer-item-3 {
  font-weight: 500;
  /* color: #f1f1f1; */
  color: #f8f8f8;
}

.footer-item-3 {
  font-weight: 500;
  color: #ec5332;
}

.red-footer-item-4 {
  /* color: #f1f1f1; */
  color: #f8f8f8;
  padding-top: 2rem;
}

.footer-item-4 {
  color: #ec5332;
  padding-top: 2rem;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.header-menu {
  display: flex;
  flex-direction: row;
  width: 8rem;
  justify-content: space-between;
}

.header {
  min-height: 5vh;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: auto;
  transition: top 0.3s ease-in-out;
  position: sticky;
  background-color: #F8F8F8;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  z-index: 2;
}

.logo {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
}

.logo-image {
  grid-column: 1;
  max-width: 3rem;
}

/* .logo-image:hover {
  content: url(..//assets/branding-images/red.svg);
} */

.logo-name {
  grid-column: 2;
  grid-column: 2;
  align-self: center;
  display: grid;
  font-weight: 600;
  /* color: white; */
  color: #f8f8f8;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.nav-up {
  top: -10vh;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

#navigation-item-1,
#navigation-item-2,
#navigation-item-3,
#navigation-item-4,
#navigation-item-5,
#navigation-item-6,
#navigation-item-7 {
  padding: 0.9rem;
  width: 100%;
}

.menu-item-white {
  padding-left: 2rem;
  background-color: F8F8F8;
  color: #2e2e2e;
}

.menu-item-grey {
  padding-left: 2rem;
  /* background-color: #f1f1f1; */
  background-color: #E9E9E9;
  color: #2e2e2e;
}

.menu-item-grey:hover,
.menu-item-white:hover {
  background-color: #ec5332;
  /* color: #f1f1f1; */
  color: #f8f8f8;

}

.menu-item-grey h4:hover,
.menu-item-white h4:hover {
  /* color: #f1f1f1; */
  color: #f8f8f8;
  font-weight: 600;
}

.menu-item-grey,
.menu-item-white {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.project-name {
  grid-column: 2/2;
  justify-self: start;
  font-weight: 600;



}

.project-thumbnail {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  width: 30px;
  box-shadow: 0.5px 0.5px 1px #c8c8c8;

}

.project-thumbnail h4:hover {
  /* color: #f1f1f1; */
  color: #f8f8f8;
}

/* Background images */
.overlay1 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-denizen-cover.jpg);
}

.overlay2 {
  background-image: url(../assets//cover-images/JPG/Atom_cover-image.jpg);
}

.overlay3 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-hue-cover.jpg);
}

.overlay4 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-creo-cover.jpg);
}

.overlay5 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-cost-of-waste-cover.jpg);
}

.overlay6 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-untwist-cover.jpg);
}

.overlay7 {
  background-image: url(../assets/cover-images/JPG/anais-bayle-illustrations.jpg);
}

.descriptor-name {
  padding-left: 2rem;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.homepage-menu {
  width: 100%;
  min-height: 72vh;
  padding-top: 2.5rem;
}

.image-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.work-list {
  justify-self: start;
  align-self: center;
}

.project-hero-images {
  width: 100%;
  position: relative;
  border-left: 1px solid #cfcfcf;
}

.project-hero-images-index {
  width: 100%;
  position: relative;
  border-left: 1px solid #cfcfcf;
}

/* A hidden full-screen overlay */
.overlay1,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8 {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  opacity: 1;
  /* To make sure the overlay is on top of the background image, set the z-index to -1; */
  z-index: -1;
}

/* END OF NEW WORK PAGE CONTENT

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  background: var(--background-color-about);
  flex: 1;
  grid-template-columns: 1fr;
}

.award-links:hover {
  color: #ec5332;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-right: 1px solid #d3d3d3;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-bottom: 1rem;
}

.award-item {
  margin-bottom: 1rem;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.red-global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background: var(--background-color-red-footer);
  padding: 1rem;
  padding-top: 2rem;
  cursor: url("../assets/branding-images/white-cursor.svg"), auto !important;
}

.global-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background: var(--background-color-footer);
  padding: 1rem;
  padding-top: 2rem;
  border-top: 1px solid #cfcfcf;
}

.footer-item-2:hover,
.footer-item-3:hover {
  color: #2e2e2e;
}

.award-links:hover {
  color: #ec5332;
}

.red-footer-links {
  /* color: #f1f1f1; */
  color: #f8f8f8;
}

.red-footer-links:hover {
  color: #2e2e2e;
}

.footer-links:hover {
  color: #ec5332;
}

.red-text-for-footer {
  color: #ec5332;
}

.red-text-for-footer:hover {
  color: #2e2e2e;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
/* project text */

.project {
  display: grid;
  grid-gap: 2rem;
  background: var(--background-color-about);
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  flex: 1;
  grid-template-columns: 1fr;
}

.project-secondary {
  display: grid;
  grid-gap: 2rem;
  background: var(--background-color-about);
  padding-right: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  grid-template-columns: 1fr;
}

.project-image-grid {
  display: grid;
  grid-gap: 1rem;
  background: var(--background-color-about);

  grid-template-columns: 1fr;
}

.project-gallery-grid {
  display: grid;
  grid-gap: 1rem;
  background: var(--background-color-about);
  grid-template-rows: 1fr;
  padding-bottom: 2rem;
}

.project-bottom-grid {
  display: grid;
  grid-gap: 1rem;
  background: var(--background-color-about);
  flex: 1;
  grid-template-columns: 1fr;
}

.project-text-section {
  display: grid;
  grid-gap: 3rem;
  background: var(--background-color-about);
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  flex: 1;
  grid-template-columns: 1fr;
}

.project-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project-item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project-item-3 {
  grid-column: 1 / 2;
  padding-bottom: 1rem;
  grid-row: 1 / 3;
  font-weight: 600;
}

.project-item-paragraph {
  line-height: 1.5;
  margin-bottom: 1rem;
}


.project-category {
  line-height: 3;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  font-weight: 600;
}

.project-item {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.project-item-content {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.project-item-content-credit {
  line-height: 1.5;
}

.project-item-content-credit-bottom {
  line-height: 1.5;
  padding-bottom: 2rem;
}

/* CAROUSEL START */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;

  /* padding: 0.5rem; */
  color: #000000;
  font-weight: lighter;
  font-size: 24px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover,
.forward:hover {
  background-color: rgba(255, 255, 255, 3);
}

/* The circles or bullets indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: #9a9a9a;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.enable,
.dots:hover {
  background: #ec5332;
  opacity: 1;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 2;
  }
}

/* CAROUSEL END */

.project-subheading {
  line-height: 1.5;
}

.project-item-content-credit:hover,
.project-item-content-credit-bottom:hover {
  color: #ec5332;
}

project-list {
  grid-column: 1/2;
}

project-list-content {
  grid-column: 1/2;
}

.project-sub-list {
  line-height: 1.5;
}

.hue-resize-mobile {
  display: initial;
  width: 100%;
}

.hue-resize {
  display: none;
}

.collab-links {
  font-weight: 600;
}

.collab-links:hover {
  color: #ec5332;
}

.project-sub-category {
  line-height: 1.5;
  padding-bottom: 1.75rem;
}

.project-award {
  line-height: 2;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 100%;
  align-self: center;
}

.project-title-and-categories-container,
.project-description-container {
  width: 100%;
}

/* project images */

.project-image-list {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
  max-width: 100%;
  padding-bottom: 1rem;
}

.project-gallery-list {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
  max-width: 100%;
  padding-bottom: 1rem;
}

.project-wrapper {
  width: 100%;
}

.project-gallery-wrapper {
  width: 100%;
}

.project-content {
  margin-bottom: 1rem;
}

.project-content-2 {
  margin-top: 1rem;
}

.project-content-video {
  width: 100%;
  overflow: hidden;
  aspect-ratio: 16/9;
  pointer-events: none;
  margin-bottom: 1rem;
}



.gallery-content {
  margin-bottom: 1rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.bottom-nav-1 {
  grid-column: 1;
}

.bottom-nav-2 {
  grid-column: 2 / 2;
  justify-self: end;
}

.bottom-nav-1:hover,
.bottom-nav-2:hover {
  color: #ec5332;
}

/* Illustration page */

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* background: url(../assets/branding-images/fake-png.jpg); */
  /* background-color: #f1f1f1; */
  color: #f8f8f8;
  background-size: 100%;
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  padding-top: 2rem;
  font-weight: 600;
  font-size: 1rem;
  color: #2e2e2e;
}

.holding-page-inner-container {
  max-width: 200px;
}

.holding-page-subtitle {
  font-size: 1rem;
  color: #2e2e2e;
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████╗████████╗██╗   ██╗██╗     ███████╗     ██████╗ ██╗   ██╗██╗██████╗ ███████╗
██╔════╝╚══██╔══╝╚██╗ ██╔╝██║     ██╔════╝    ██╔════╝ ██║   ██║██║██╔══██╗██╔════╝
███████╗   ██║    ╚████╔╝ ██║     █████╗      ██║  ███╗██║   ██║██║██║  ██║█████╗  
╚════██║   ██║     ╚██╔╝  ██║     ██╔══╝      ██║   ██║██║   ██║██║██║  ██║██╔══╝  
███████║   ██║      ██║   ███████╗███████╗    ╚██████╔╝╚██████╔╝██║██████╔╝███████╗
╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚══════╝     ╚═════╝  ╚═════╝ ╚═╝╚═════╝ ╚══════╝
 */

.style-guide-page-wrapper {
  padding: 3rem;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
  background-image: url(..//assets/branding-images/anais-bayle-error-page-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*
███████ ██   ██ ██████  ███████ ██████  ██ ███    ███ ███████ ███    ██ ████████ ███████ 
██       ██ ██  ██   ██ ██      ██   ██ ██ ████  ████ ██      ████   ██    ██    ██      
█████     ███   ██████  █████   ██████  ██ ██ ████ ██ █████   ██ ██  ██    ██    ███████ 
██       ██ ██  ██      ██      ██   ██ ██ ██  ██  ██ ██      ██  ██ ██    ██         ██ 
███████ ██   ██ ██      ███████ ██   ██ ██ ██      ██ ███████ ██   ████    ██    ███████ 
*/

.experiments-page {
  display: grid;
  place-items: center;
}

.experiments-page-inner-container {
  text-align: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experiments-page-title {
  color: var(--accent-color);
  font-size: 2rem;
}

.experiment-1-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
}

.experiment-2-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  text-align: center;
}

a.sub-navigation-link {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  padding: 1rem;
}

a.sub-navigation-link:hover {
  color: var(--accent-color);
  padding: 1rem;
}

/* Let's size the boxes */

.experiment-box {
  width: 50%;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.image {
  width: 40%;
}

/* Let's hide box 2 */

.experiment-image-2 {
  display: none;
}

.experiment-image-single {
  width: 20rem;
  padding: 2rem;
  display: grid;
  place-items: center;
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 600px and up) */

@media (min-width: 600px) {
  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 4rem;
    border-right: none;
  }

  .menu-item-grey,
  .menu-item-white {
    padding-left: 2rem;
  }

  .about-item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    padding-top: 2rem;
  }

  .about-bio {
    font-size: 1.5rem;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .about-image {
    max-width: 60%;
  }

  .about {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .contact-me {
    padding-bottom: 4rem;
  }

  .logo {
    grid-gap: 2rem;
  }

  .logo-image {
    grid-column: 1;
    max-width: 3rem;
  }

  .logo-name {
    grid-column: 2;
    align-self: center;
    display: grid;
    font-weight: 400;
    color: #9a9a9a;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .holding-page-title {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  h1 {
    font-size: 3.75rem;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.625rem;
  }

  .about-bio {
    font-size: 1.85rem;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  .header {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .logo {
    grid-gap: 2rem;
  }

  .logo-image {
    grid-column: 1;
    max-width: 3rem;
  }

  .logo-name {
    grid-column: 2;
    align-self: center;
    display: grid;
    font-weight: 400;
    color: #9a9a9a;
  }

  .about-image {
    max-width: 60%;
  }

  .hero-headline-wrapper {
    padding: 4rem 8rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item>a.grayscale:active img,
  .work-page-grid-item>a.grayscale:hover img {
    filter: grayscale(0);
  }

  .descriptor-name {
    padding-left: 4rem;
  }

  .about {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4rem;
    padding-right: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .project-item {
    margin-top: 2rem;
  }

  .project-item-content {
    margin-top: 0;
  }

  .project-item-content-credit {
    margin-top: 0;
  }

  project-list {
    grid-column: 2/2;
  }

  project-list-content {
    grid-column: 2/2;
  }

  .menu-item-grey,
  .menu-item-white {
    padding-left: 4rem;
    grid-gap: 1rem;
  }

  .menu-item-grey:hover,
  .menu-item-white:hover {
    background-color: #ec5332;
    /* color: #f1f1f1; */
    color: #f8f8f8;
  }



  .global-footer {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .red-global-footer {
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr 2fr;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* GREY footer */

  .footer-item-1 {
    padding-left: 1rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #ec5332;
  }

  .footer-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
    color: #ec5332;
  }

  .footer-item-3 {
    padding-right: 1rem;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    /* aligns social list to the right in the footer */
    color: #ec5332;
  }

  .footer-item-4 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    align-self: end;
    color: #ec5332;
    padding: 0;
  }

  /* RED footer */

  .red-footer-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .red-footer-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
  }

  .red-footer-item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    /* aligns social list to the right in the footer */
  }

  .red-footer-item-4 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
    align-self: end;
    padding: 0;
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-top: 4rem;
    border-right: 1px solid #d3d3d3;
  }

  .about-item-2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    padding-top: 4rem;
  }

  .work-item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .work-item-2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  .work-item-3 {
    grid-column: 3 / span 3;
    grid-row: 1 / 3;
  }

  .homepage-menu {
    min-height: 85vh;
    padding-top: 4rem;
    min-width: 400px;
  }

  .project {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  .project-content {
    margin-bottom: 2rem;
  }

  .project-content-2 {
    margin-bottom: 2rem;
  }

  .gallery-content {
    margin-bottom: 2rem;
  }

  .project-secondary {
    padding-bottom: 2rem;
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .project-image-grid {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .project-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-left: 0.5rem;
  }

  .project-item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 1rem;
  }

  .project-image-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .project-image-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project-bottom-grid {
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .project-text-section {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .project-gallery-grid {
    grid-gap: 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .gallery-image-1 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .gallery-image-2 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }

  .gallery-image-3 {
    grid-column: 5 / span 2;
    grid-row: 2;
  }


  .gallery-image-11 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .gallery-image-12 {
    grid-column: 3 / span 2;
    grid-row: 1;
  }

  .gallery-image-13 {
    grid-column: 5 / span 2;
    grid-row: 1;
  }



  .gallery-image-4 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .gallery-image-5 {
    grid-column: 3 / span 4;
    grid-row: 3;
  }



  .gallery-image-14 {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .gallery-image-15 {
    grid-column: 3 / span 2;
    grid-row: 4;
  }

  .gallery-image-16 {
    grid-column: 5 / span 2;
    grid-row: 4;
  }




  .gallery-image-6 {
    grid-column: 1 / span 2;
    grid-row: 5;
  }

  .gallery-image-7 {
    grid-column: 3 / span 2;
    grid-row: 5;
  }

  .gallery-image-8 {
    grid-column: 5 / span 2;
    grid-row: 5;
  }

  .gallery-image-9 {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .gallery-image-10 {
    grid-column: 3 / span 4;
    grid-row: 6;
  }

  .hue-resize-mobile {
    display: none;
  }

  .hue-resize {
    display: initial;
  }

  .projects {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .project-hero-images {
    width: 70%;
    flex-direction: column;
    background-image: url(../assets/branding-images/anais-bayle-logo-preview-3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    z-index: -1;
  }

  .project-hero-images-index {
    width: 70%;
    flex-direction: column;
    background-image: url(../assets/branding-images/anais-bayle-logo-preview-3.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    z-index: -1;
  }

  .contact-me {
    padding-bottom: 4rem;
  }

  .homepage-menu {
    width: 30%;
  }

  /* Padding around work grid and project page */
  .portfolio {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  .project-gallery-wrapper {
    flex-direction: row;
  }

  .project-info {
    flex-direction: row;
    padding: 4rem;
    max-width: 80%;
  }

  .project-title-and-categories-container,
  .project-description-container {
    width: 50%;
    padding: 0.5rem;
  }

  .project-image-list-upper {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .project-image-list {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
  }

  .project-gallery-list {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 90%;
  }

  .project-image {
    min-height: 70vh;
    max-height: 700px;
    /* This should be deleted if you want to remove space between project images on project pages */
  }

  .project-image-container {
    flex-direction: column;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }

  .socials-list {
    flex-direction: row;
  }

  .social-item {
    line-height: 1.3;
    padding: 0 1rem 1rem 0;
    /* top right bottom left */
  }
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  .about-bio {
    font-size: 2.25rem;
    max-width: 80%;
    margin-bottom: 2rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    align-items: center;
    padding: 10rem;
  }

  .about-item-2 {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    padding-top: 4rem;
    max-width: 950px;
  }



}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    align-items: center;
    padding: 10rem;
  }
}